@if(signalService.playerSummarySignal()?.communityvisibilitystate === 3 && !loading) {
<div class="py-2 tmw2p-container">
    <div class="row">
        <!-- Profile Header -->
        <app-summary-header class="col-md-6 col-sm-12 mb-3"
            [playerSummary]="signalService.playerSummarySignal()"
            (hideNeverPlayed)="onHideNeverPlayed($event)"></app-summary-header>
        <!-- Profile Header -->
        <app-charts-tab class="col-md-6 col-sm-12 mb-3"></app-charts-tab>
    </div>
    <div class="row">
        <!-- Recent Activity Placeholder -->
        <app-owned-games class="col-md-12 col-sm-12"></app-owned-games>
    </div>
</div>
} @else if(loading)
{
<div class="loading-spinner">
    <div class="spinner-border" role="status">
    </div>
</div>
} @else {
<div class="m-2 py-2 alert alert-warning text-center tmw2p-container">
    {{ 'profile.notPublic' | transloco }}
</div>
}