<div class="py-2">
    <div class="row summary-charts">
        <!-- Profile Header -->
        <app-summary-header class="col-7 main-gradient" [playerSummary]="playerSummary" (hideNeverPlayed)="onHideNeverPlayed($event)"></app-summary-header>
        <!-- Profile Header -->
        <app-charts-tab [allGamesSignal]="allGamesSignal" class="col-5 main-gradient"></app-charts-tab>
    </div>

    <!-- Recent Activity Placeholder -->
    <div class="col col-12">
        <app-owned-games [ownedGamesSignal]="ownedGamesSignal"></app-owned-games>
    </div>
</div>