@if(signalService.playerSummarySignal()?.communityvisibilitystate === 3) {
<div class="py-2">
    <div class="row summary-charts">
        <!-- Profile Header -->
        <app-summary-header class="col-md-6 col-sm-12 main-gradient"
            [playerSummary]="signalService.playerSummarySignal()"
            (hideNeverPlayed)="onHideNeverPlayed($event)"></app-summary-header>
        <!-- Profile Header -->
        <app-charts-tab class="col-md-6 col-sm-12 main-gradient"></app-charts-tab>
    </div>

    <!-- Recent Activity Placeholder -->
    <div class="col col-md-12 col-sm-12">
        <app-owned-games></app-owned-games>
    </div>
</div>
} @else {
<div class="m-2 py-2 alert alert-warning text-center">
    This profile is not public.
</div>
}