html, body{
    height: 100%  ; /* Ensure the body takes up the full height of the viewport */
  }
  
  body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }
  
  footer {
    /* Optional: Add styling for the footer */
    background-color: #f8f9fa;
  }

.text-body-white{
    color: white;
}

.flag {
  border-color: transparent;
}

.navbar-nav {
  display: flex;
  flex-direction: row !important; /* Override Bootstrap's column */
  white-space: nowrap;
}

/* Optional: Reduce spacing between items */
.navbar-nav .nav-item {
  margin-left: 0.5rem;
}

.dropdown .dropdown-menu.show{
  width: fit-content;
  min-width: 0;

}