<!-- Header -->
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container" data-bs-theme="dark">
    <div class="col col-2">
      <a class="navbar-brand" href="#">
        <img src="assets/img/tmw2p.png" alt="Bootstrap" width="50" height="30">
      </a>
    </div>
    <div class="col col-8 m-auto text-center text-body-white">
      <i>From gamer to gamers!</i>
    </div>
    <div class="col col-2 d-flex justify-content-end">
      <a class="d-lg-inline-block" href="https://github.com/maikondbatista/TMW2Play" target="_blank">
      <img src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg" alt="Source code" width="30" height="30" />
      </a>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="container container-content">
  <router-outlet />
</div>

<!-- Footer -->
<footer class="footer fixed-bottom border-top">
  <div class="col-md-12 d-flex">
    <span class="m-auto text-body-secondary">
      Powered by <a href="https://github.com/maikondbatista" target="_blank">Maikon Delduca</a>
    </span>
  </div>
</footer>