@import 'bootstrap/scss/bootstrap';

.gradient-bg-dark {
    background: linear-gradient(135deg, #171a21 0%, #2a475e 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.profile-header {
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    overflow: auto;
}


.owned-games-container {
    overflow-y: auto;
    height: calc(60vh - 83px - 2rem);
    min-height: calc(60vh - 83px - 2rem);
    max-height: calc(60vh - 83px - 2rem);
}

.container {
    max-width: 1800px;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #00f7ff7e;
  font-size: 1.5rem;
  text-shadow: 0 0 10px #00f7ff, 0 0 20px #00f7ff;
  margin-top: 3rem;
}