<div class="row owned-games-container">
    @for (game of ownedGames; track game.appid) {
    <div class="col col-md-4 col-sm-12 mb-2 card-parent">
        <div class="game-card card gradient-bg-dark border-0">
            <div class="card-body p-2">
                <div class="d-flex">
                    <img [src]="getGameImageUrl(game)" [alt]="game.name" class="rounded" width="64" height="64">
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-1 text-truncate">{{ game.name }}</h6>
                        <div class="small">
                            <div>Last played: {{ game.rtime_last_played | lastPlayed }}</div>
                            <div>Total playtime: {{ game.playtime_forever | playTime }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>