<div class="profile-header gradient-bg-dark ">
    <div class="col col-md-9 col-sm-12 text-center py-3 m-auto">
        <h6>{{ translationPrefix + 'welcomeMessage' | transloco }}</h6>
    </div>
    <div class="row align-items-center m-2">
        <div class="col col-md-3 col-sm-6 text-center">
            <img [src]="playerSummary.avatarfull" class="profile-pic img-fluid rounded-circle mb-3"
                alt="{{ translationPrefix + 'profilePicture' | transloco }}" priority>
        </div>
        <div class="col col-md-9 col-sm-12">
            <h2 class="display-5">
                {{ playerSummary.personaname }}
                <span class="fs-4"> ({{ playerSummary.realname }})</span>
                @if(playerSummary.loccountrycode){
                <ng-container>
                    <img [src]="'https://steamcommunity-a.akamaihd.net/public/images/countryflags/' + (playerSummary.loccountrycode | lowercase)  +'.gif'"
                        class="country-flag" alt="{{ translationPrefix + 'countryFlag' | transloco }}" priority>
                </ng-container>
                }
            </h2>
            <div class="mb-3">
                <a [href]="playerSummary.profileurl" class="btn btn-primary btn-sm" target="_blank">
                    {{ translationPrefix + 'viewSteamProfile' | transloco }}
                </a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col col-12">
                <div class="form-check form-switch" data-bs-theme="dark">
                    <input class="form-check-input" type="checkbox" role="switch" id="switch-never-played"
                        [(ngModel)]="switchNeverPlayed" (change)="hideNeverPlayed.emit(switchNeverPlayed)">
                    <label class="form-check-label" for="switch-never-played">{{ 'hideNeverPlayed' | transloco }}</label>
                </div>
            </div>
        </div> 
        Maybe re-add later. -->
    </div>
</div>