.profile-pic {
    border: 5px solid #66c0f4;
    box-shadow: 0 0 15px rgba(102, 192, 244, 0.5);
}

.country-flag {
    width: 30px;
    height: 20px;
    border-radius: 2px;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.status-icon {
    font-size: 1.2rem;
    vertical-align: middle;
}

