<div class="gradient-bg-dark profile-header" data-bs-theme="dark">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
        <li [ngbNavItem]="1" [destroyOnHide]="false" [title]="translationPrefix + 'lastTwoWeeksLabel' | transloco">
            <button ngbNavLink>{{ translationPrefix + 'lastTwoWeeksLabel' | transloco }}</button>
            <ng-template ngbNavContent>
                <app-last-two-weeks [data]="twoWeeksData"></app-last-two-weeks>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" [destroyOnHide]="false" [title]="translationPrefix + 'allTimeLabel' | transloco">
            <button ngbNavLink>{{ translationPrefix + 'allTimeLabel' | transloco }}</button>
            <ng-template ngbNavContent>
                <app-all-time [data]="allTimeData"></app-all-time>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" [destroyOnHide]="false" [title]="translationPrefix + 'tellMeWhatToPlayLabel' | transloco">
            <button ngbNavLink (click)="tmw2PlayLoaded = true">TMW2Play</button>
            <ng-template ngbNavContent>
                @if(tmw2PlayLoaded){
                <ng-container>
                    <app-tell-me-what-to-play></app-tell-me-what-to-play>
                </ng-container>
                }
            </ng-template>
        </li>
        <!-- <li [ngbNavItem]="4" [destroyOnHide]="true" [title]="'humiliateMyLibrary' | transloco">
            <button ngbNavLink>{{ translationPrefix + 'hmLibraryLabel' | transloco }}</button>
            <ng-template ngbNavContent>
                <app-humiliate-my-library></app-humiliate-my-library>
            </ng-template>
        </li> -->
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>