<div class="gradient-bg-dark profile-header" data-bs-theme="dark">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
        <li [ngbNavItem]="1" [destroyOnHide]="false">
            <button ngbNavLink>Last 2 Weeks</button>
            <ng-template ngbNavContent>
                <app-last-two-weeks [data]="twoWeeksData"></app-last-two-weeks>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" [destroyOnHide]="false">
            <button ngbNavLink>All Time</button>
            <ng-template ngbNavContent>
                <app-all-time [data]="allTimeData"></app-all-time>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>